{% extends "organization/edit_base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/base/css/channels.css" />
{% endblock %}

{% block subtitle %}{{ _('Channels') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="channel-page">
    <div class="channel-page-header">
      <h2>DataRequest Notification Channels</h2>
      <p>Select a channel via which you will be notified of DataRequest activities </p>
    </div>
    <div class="channels">
      <section class="channel">
        <div class="channel-details">
          <img src="{{ h.url_for_static('/base/images/slack.png') }}">
          <span>
            <h3>Slack</h3>
            <small>Notifications are sent to a channel in your organization</small>
          </span>
        </div>
        <a href="{{ h.url_for('slack_form', organization_id=c.group_dict.name) }}" class="btn btn-success">Add Channel</a>
      </section>
      <section class="channel">
        <div class="channel-details">
          <img src="{{ h.url_for_static('/base/images/email.png') }}">
          <span>
            <h3>Email</h3>
            <small>Notifications are sent to an email address you provide</small>
          </span>
        </div>
        <a href="{{ h.url_for('email_form', organization_id=c.group_dict.name) }}" class="btn btn-success">Add Channel</a>
      </section>
    </div>
  </div>

  <div class="channels">
    {% if channels %}
    <h2 class="page-heading">Existing Channels</h2>
    <h3>Email</h3>
    <table class="table table-header table-hover table-bordered">
      <col width="70%" />
      <col width="30%" />
      <thead>
        <tr>
          <th scope="col">{{ _('Email') }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for channel in channels %}
          <tr>
            <td>
              To: {{ channel.email }}
            </td>
            <td>
              {% set locale = h.dump_json({'content': _('Are you sure you want to delete this channel?')}) %}
              <div class="btn-group pull-right">
                <a class="btn btn-small" href="{{ h.url_for('update_email_form', id=channel.id, organization_id=channel.organization_id) }}" title="{{ _('Edit') }}">
                  
                </a>
                <a class="btn btn-danger btn-small" href="{{ h.url_for('delete_email_form', id=channel.id, organization_id=channel.organization_id) }}" data-module="confirm-action" data-module-i18n="{{ locale }}" title="{{ _('Delete') }}">
                  {% block delete_button_text %}
                  <i class="icon-remove"></i>
                  {% endblock %}
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>
{% endblock %}
