{% extends "organization/edit_base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/base/css/channels.css" />
{% endblock %}

{% block subtitle %}{{ _('Channels') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <div class="channel-page">
    <div class="channel-page-header">
      <h2>DataRequest Notification Channels</h2>
      <p>Select a channel via which you will be notified of DataRequest activities </p>
    </div>
    <div class="channels">
      <section class="channel">
        <div class="channel-details">
          <img src="{{ h.url_for_static('/base/images/slack.png') }}">
          <span>
            <h3>Slack</h3>
            <small>Notifications are sent to a channel in your organization</small>
          </span>
        </div>
        <a href="{{ h.url_for('slack_form', organization_id=c.group_dict.name) }}" class="btn btn-success">Add Channel</a>
      </section>
      <section class="channel">
        <div class="channel-details">
          <img src="{{ h.url_for_static('/base/images/email.png') }}">
          <span>
            <h3>Email</h3>
            <small>Notifications are sent to an email address you provide</small>
          </span>
        </div>
        <a href="{{ h.url_for('slack_form', organization_id=c.group_dict.name) }}" class="btn btn-success">Add Channel</a>
      </section>
    </div>
  </div>
  <div class="channels">
    <h3 class="page-heading">Existing Slack Channels</h3>
    <table class="table table-header table-hover table-bordered">
      <col width="70%" />
      <col width="18%" />
      <col width="12%" />
      <thead>
        <tr>
          <th scope="col">{{ _('Webhook URL') }}</th>
          <th scope="col">{{ _('Channel') }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for channel in channels %}
          <tr>
            <td>
              {{ channel.webhook_url }}
            </td>
            <td>
              {{ channel.slack_channel }}
            </td>
            <td>

              <div class="btn-group pull-right">
                <a class="btn btn-small" href="#" title="{{ _('Edit') }}">
                  <i class="icon-wrench"></i>
                </a>
                <a class="btn btn-danger btn-small" href="#" data-module="confirm-action" data-module-i18n="{{ locale }}" title="{{ _('Delete') }}">{% block delete_button_text %}<i class="icon-remove"></i>{% endblock %}</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


