{% extends "organization/read_base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/datarequests.css" />
  <link rel="stylesheet" href="public/base/css/channels.css" />
{% endblock %}

{% block page_primary_action %}
  <div class="channel">
    <div>
      <img src="{{ h.url_for_static('/base/images/slack.png') }}"></img>
      <p> Slack <p>
    </div>
    <!-- {% link_for _('Add Channel'), controller='ui_controller', action='organization_slack', class_='btn', icon='wrench' %} -->
    <button> Add Channel </button>
  </div>

{% endblock %}
