{% import "macros/form.html" as form %}

{% set webhook_url = data.get('webhook_url', '') %}
{% set slack_channel = data.get('slack_channel', '') %}

{# This renders a form for an organization to register their slack details. It can
then itself be extended to add/remove blocks of functionality. #}

<form class="form-horizontal channels" action="" method="post">

  <input type="hidden" id="organization_id" name="organization_id" value="{{ data.get('organization_id', '') }}" />

  {% block errors %}{{ form.errors(errors_summary) }}{% endblock %}

  {% block webhook %}
    {{ form.input("webhook_url", id="field-webhook", label=_("Webhook URL"), placeholder=_("https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX"), value=webhook_url, error=errors['Webhook URL'], classes=["control-full"], is_required=true) }}
  {% endblock %}

  {% block channel %}
    {{ form.input("slack_channel", id="field-channel", label=_("Channel"), placeholder=_("eg. datarequest_activities"), value=slack_channel, error=errors['Channel'], classes=["control-medium"], is_required=true) }}
  {% endblock %}

  <i class="icon-question-sign" style=" position: absolute; left: 95%; bottom: 37%;" title="This is where the entire explanation will fall and we can tell the use to do so sos sos sos sos"></i>
  <i class="icon-question-sign" style=" position: absolute; left: 61%; bottom: 25%;"></i>

  <div class="form-actions">
    {% block form_actions %}
    <button class="btn btn-primary" type="submit" name="save">{{ _("Get Notifications") }}</button>
    {% endblock %}
  </div>

</form>
